body{
    font-family: "Montserrat", sans-serif; 
    background-color: #f3f1f3;
    margin: 0px;
    padding: 0px;
}

.text-center{
    text-align: center;
}
.text-white{
  color: white;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
 .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  display: none;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}


.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url('../images/burger.svg');

}


.mob {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  overflow: hidden;
  top: 68px;
  z-index: 999;
  padding: 39px 0px;
}

.mob ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px 10px;
  justify-content: space-between;
}

.mob ul li {
  padding: 20px 0px;
}

.mob ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}







/* Your custom container class */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .start-title{
    padding: 40px 0px;
  }

  .social ul li a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(255,255,255,0.1);
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .social ul li a:hover{
    background: #fff !important;
    color: #277d92 !important;
  }
  .social ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
  }
  
  
  /* Optional: Add a max-width for responsiveness */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  


  /* header section  */


  .header-section{
    background-color: white;

  }
  .desk-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-item ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;

  }
  .menu-item ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
  }
  .menu-item ul li a:hover{
    color: rgba(0, 0, 0, 0.7);
  }

  .menu-item {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .btn button{
        background: #009963;
        border-radius: 100px;
        color: white;
        height: 48px;
        line-height: 46px;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 0px 34px;
        font-size: 12px;
        text-transform: uppercase;
        max-width: 100%;
        font-weight: 600;
        border: 2px solid #009963;
        text-align: center;
        overflow: hidden;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        cursor: pointer;
  }
  .btn button:hover{
    background: #1cd4b9;
    border: 2px solid #1cd4b9;
    color: white;
  }
  

  /* hero-section */

  .hero-section{
    padding: 30px 0px;
  }

  .flex-hero{
    display: flex;
    justify-content: space-between;
  }
  .column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  


  /* about-us */ 

  .about-us{
    padding: 30px 0px;
  }

  .about-title{
    font-size: 30px;
    font-weight: 700;
    color: #1a1a1a;
  }
  .about-title2{
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
  }

  .shadoow{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
    padding: 20px 0px;
  }

  /* services-section */

  .services-section{
    padding: 30px 0px;
  }

  .services-list{
    padding: 20px 0px;
  }
  .services-list ul{
    list-style: none;
    padding: 0px;
  }
.services-list ul li{
    padding: 10px 0px;
    display: flex;
    align-items: start;
    gap: 10px;


}
.services-list ul li img{
  width: auto;
  height: auto;
}




/* form-contact */

.form-contact{
    max-width: 700px;
    padding: 40px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
    background: white;
  }
.name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
    width: 100%;
}


input{
  border-radius: 0px;
  background: #f7f8f8;
  padding: 0.675rem 0.75rem;
  font-size: 14px;
  border: 1px solid #E8DECF;
  border-radius: 10px;
  outline: none;

  }
  input::placeholder,
  textarea::placeholder{
    color: 
    #A1824A ;
    
  }
select{
  border-radius: 0px;
  background: #f7f8f8;
  padding: 0.675rem 0.75rem;
  font-size: 14px;
  border: 1px solid #E8DECF;
  border-radius: 10px;
  outline: none;


}
textarea{
  border-radius: 0px;
  background: #f7f8f8;
  padding: 0.675rem 0.75rem;
  font-size: 14px;
  border: 1px solid #E8DECF;
  border-radius: 10px;
  outline: none;


}


.btn-submit button{
    background: #827f9a;
    color: #c1c0cf
    ;
    height: 48px;
    line-height: 46px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 100%;
    font-weight: 600;
    border: 2px solid #827f9a;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}



/* .footer-section */

.footer-section{
  padding: 100px 0px;
  /* background-color: #1b3d4a !important; */
}

.whatsapp{
  display: flex;
  gap: 30px;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  /* z-index: 99999; */
  right: 6px;
  cursor: pointer;
}

.img-slides{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.img-slides img{
  width: 100%;
  height: auto;
  
}

.descriptions h2{
  font-size: 36px;
  font-weight: 800;
}
.descriptions-mob{
  display: none;
}



.features{
  background-color: #F5F0E5;
  padding:5px 16px;
  display: flex;
  gap: 10px;
  border-radius: 10px;

}

.features span{
  font-size: 14px;
  font-weight: 500;
}


.about-slide{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.discovery h1{
  font-size: 48px;
  font: weight 800px; 
  color: #1C170D;

}

.social-icons ul{
  display: flex;
  justify-content: center;
  list-style:  none;
  gap: 20px;

}
.social-icons ul li a{
  color: #A1824A;
}




  /* media query */

  @media(min-width:776px){
    .title{
        color: #1a1a1a;
        line-height: 1.2em;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 48px;
        font-weight: 700;
        padding: 10px;
    }
  }

  @media(max-width:800px){
.descriptions{
  display: none;
}
.descriptions-mob{
  display: block;
}
    .menu-item{
        display: none;
    }
    .flex-hero{
        flex-direction: column;
    }
    .form-contact{
      max-width:250px;
    }
    .navbar-toggler{
      display: block;
    }
  .img-slides{
    flex-wrap: wrap;
  }
   
  .about-slide{
    flex-direction: column;
  }
    .start-title{
      padding: 0px;
    }
    .footer-section{
      padding: 50px 0px;
      /* background-color: #1b3d4a !important; */
    }
    .header-section{
      position: fixed;
      width: 100%;
      z-index: 99999;
  
    }
    #dataAI{
      padding-top: 50px;
    }
  }
